<app-toolbar></app-toolbar>
<div class="wrapper">
  <div class="game-of-the-week-card">
    <div class="game-of-the-week-title">
      game of the week
    </div>
    <div class="game-of-the-week-image-container">
      <img class="game-of-the-week-image" src="../assets/elements/witcher_game.png" />
    </div>
  </div>
  <div class="game-carousel">
    <div *ngFor="let game of gameList" class="game-spot-card">
      <div>
        <img class="" src="../assets/elements/{{game.image}}" />
      </div>
      <div class="game-spot-footer">
        <div [ngStyle]="{'color': game.isBought ? 'var(--secondary-font-color)' : 'var(--font-color)'}"
          class="game-spot-name">
          {{game.name}}
        </div>
        <div *ngIf="game.isBought == false && game.isInCart == false" class="game-spot-buttons">
          <div class="game-spot-discount">
            {{game.discount}}
          </div>
          <button (click)="putToCart(game.id)" mat-flat-button class="game-spot-purchase-button">
            {{game.currency}} {{game.price}}
          </button>
        </div>
        <div *ngIf="game.isBought == true" class="game-spot-buttons">
          <div class="game-spot-owned">
            owned
          </div>
        </div>
        <div *ngIf="game.isInCart == true" class="game-spot-buttons">
          <div class="game-spot-in-cart">
            in cart
          </div>
        </div>
      </div>
    </div>
  </div>
</div>