.wrapper {
    display: flex;
    margin: 1%  10%;
    margin-bottom: 0;
    flex-direction: column;
}

.game-of-the-week-card {
    display: flex;
    flex-direction: column;
}

.game-of-the-week-title {
    text-transform: uppercase;
    margin: 20px 0px;
    font-weight: 900;
    color: var(--font-color);
    font-size: 14px;
}

.game-of-the-week-image-container {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.game-of-the-week-image {
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
}

.game-carousel {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-spot-card {
    margin: 20px 0px;
    background-color: #e1e1e1;
    border: 1px solid #cecece;
    width: min-content;
    height: 190px;
}

.game-spot-footer {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    background-color: #e1e1e1;
}

.game-spot-name {
    width: inherit;
    text-transform: uppercase;
    color: var(---font-color);
    font-weight: 900;
    font-size: 12px;
    margin: 2px 10px;
}

.game-spot-buttons {
    display: flex;
    justify-content: flex-end;
}

.game-spot-button {
    padding: 5px 10px;
    margin: 1px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}

.game-spot-button.game-spot-discount {
    color: #fff;
    background-color: #00905e;
    margin-right: 0px;
}

.game-spot-button.game-spot-purchase-button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.game-spot-button.game-spot-owned {
    color: var(--secondary-font-color);
    background-color: #707070;
}

.game-spot-button.game-spot-in-cart {
    color: var(--secondary-font-color);
    background-color: #000;
}

.secret-button {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 50px;
    margin: 25% 40%;
    z-index: 10;
}

@media screen and (min-width: 1320px) {
    .wrapper {
        margin: 0;
    }

    .game-of-the-week-image {
        max-width: inherit;
        max-height: inherit;
    }

    .game-carousel {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .game-of-the-week-image-container {
        display: grid;
    }

    .game-spot-card {
        margin: 20px 9px;
    }
}