.wrapper {
    display: flex;
    margin: 3% 10%;
    margin-bottom: 0;
    flex-direction: column;
}

.game-of-the-week-card {
    width: 80vw;
    height: 36vh;

    display: flex;
    flex-direction: column;
}

.game-of-the-week-title {
    text-transform: uppercase;
    margin: 20px 0px;
    font-weight: bold;
    color: var(--font-color);
    font-size: 14px;
}

.game-of-the-week-image-container {
    background-image: url(../assets/elements/witcher_game.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
}


.game-of-the-week-image {
    z-index: 2;
    max-width: unset;
    max-height: unset;
    height: inherit;
    width: inherit;
}

.game-carousel {
    margin: 60px 0px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-spot-card {
    margin: 20px 8px;
    background-color: #e1e1e1;
    border: 1px solid #cecece;
    width: min-content;
    height: 200px;
}

.game-spot-footer {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    background-color: #e1e1e1;
}

.game-spot-name {
    width: inherit;
    text-transform: uppercase;
    color: var(---font-color);
    font-weight: bold;
    font-size: 12px;
    margin: 5px 10px;
}

.game-spot-buttons {
    display: flex;
    justify-content: right;
}

.game-spot-discount {
    color: #fff;
    background-color: #00905e;
    padding: 5px 10px;
    margin: 12px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.game-spot-purchase-button {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin: 12px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    min-width: min-content;
    line-height: unset;
    font-family: 'Lato';
}

.game-spot-owned {
    color: var(--secondary-font-color);
    background-color: #707070;
    padding: 5px 10px;
    margin: 12px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.game-spot-in-cart {
    color: var(--secondary-font-color);
    background-color: #000;
    padding: 5px 10px;
    margin: 12px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
    .game-of-the-week-image-container::before {
        content: "";
        position: absolute;
        width: 80vw;
        height: 36vh;
        background: inherit;
        z-index: 0;
        filter: blur(5px);
    }

    .game-of-the-week-image {
        max-width: inherit;
        max-height: inherit;
        width: unset;
    }

    .game-carousel {
        flex-wrap: nowrap;
    }

}